<h3><%= @game.code %></h3>
<ol>
  <%= for player <- @game.players do %>
    <li class="<%= player_css(@session_id, player) %>">
      <%= player.screen_name %>
    </li>
  <% end %>
</ol>
<%= if may_join(@session_id, @game.players)  do %>
  <%= f = form_for :player, "#", [phx_submit: "join_game"] %>
  <%= label f, :screen_name %>
  <%= text_input f, :screen_name %>
  <%= submit "Join Game" %>
</form>
<% end %>
