<p>To begin a new game, enter your screen name an click "Create a Game".</p>
<%= form_for @conn, Routes.game_path(@conn, :create), [], fn _ -> %>
<label for="screen_name">Screen Name</label>
<input id="screen_name" name="screen_name" type="text"/>
<button type="submit">Create a Game</button>
<% end %>
