<p><strong>You are a villager.</strong></p>
<%= live_component(
  @socket, WerewolfWeb.GameLive.Day.TribunalComponent,
  id: "tribunal:" <> @session_id,
  session_id: @session_id,
  game: @game,
  role: :villager) %>
